<template>
  <card-component class="centrar" title="Login" icon="lock">
    <router-link slot="button" to="/" class="button is-small">
      Dashboard
    </router-link>
    <form method="POST" @submit.prevent="submit">
      <b-field label="Correo">
        <b-input v-model="form.email" name="email" type="email" />
      </b-field>

      <b-field label="Password">
        <b-input v-model="form.password" type="password" name="password" />
      </b-field>
      <hr />

      <b-field grouped>
        <div class="control">
          <b-button native-type="submit" type="is-black" :loading="isLoading">
            Iniciar Sesion
          </b-button>
        </div>
        <div class="control">
          <router-link to="/register" class="button is-outlined is-black">
            Registro
          </router-link>
        </div>
      </b-field>
    </form>
  </card-component>
</template>

<script>
import CardComponent from "@/components/CardComponent.vue";
import { mapActions,mapState } from "vuex";
import router from "@/router";

export default {
  name: "Login",
  components: { CardComponent },
  data() {
    return {
      isLoading: false,
      form: {
        email: null,
        password: null,
      },
    };
  },
  computed:{
      ...mapState({
          error:(state)=>state.auth.error
      })
  },
  methods: {
    ...mapActions({
      ingresarUsuario: "auth/ingresarUsuario",
    }),
    submit() {
      this.isLoading = true;

      setTimeout(async () => {
        this.isLoading = false;
        if (!this.form.email && !this.form.password) {
          this.$swal({
            icon: "error",
            title: "Completa los campos",
          });
        }
        await this.ingresarUsuario(this.form);
        if (this.error != "") {
          this.$swal({
            icon: "error",
            title: this.error,
          });
        } 
      }, 750);

      //   setTimeout(() => {
      //     this.isLoading = false

      //     this.$router.push('/')
      //   }, 750)
    },
  },
};
</script>
<style scoped>
.centrar {
  position: relative;
  top: 80px;
}
</style>
