<template>
  <card-component class="centrar" title="Registro" icon="lock">
    <router-link slot="button" to="/" class="button is-small">
      Dashboard
    </router-link>
    <form method="POST" @submit.prevent="submit">
      <b-field label="Nombre">
        <b-input v-model="form.nombre" name="nombre" type="text" />
      </b-field>
      <b-field label="Correo">
        <b-input v-model="form.email" name="email" type="email" />
      </b-field>

      <b-field label="Password">
        <b-input v-model="form.password" type="password" name="password" />
      </b-field>

      <hr />

      <b-field grouped>
        <div class="control">
          <b-button native-type="submit" type="is-black" :loading="isLoading">
            Registrarse
          </b-button>
        </div>
        <div class="control">
          <router-link to="/" class="button is-outlined is-black">
            Iniciar Sesion
          </router-link>
        </div>
      </b-field>
    </form>
  </card-component>
</template>

<script>
import CardComponent from "@/components/CardComponent.vue";
import { mapActions, mapState } from 'vuex';
import router from '@/router';

export default {
  name: "Login",
  components: { CardComponent },
  data() {
    return {
      isLoading: false,
      form: {
        email: null,
        password: null,
      },
    };
  },
  computed:{
      ...mapState({
          error:(state)=>state.auth.error
      })
  },
  methods: {
      ...mapActions({
          register:"auth/register"
      }),
    submit() {
      this.isLoading = true;

      setTimeout(async() => {
        this.isLoading = false;
        if (!this.form.email && !this.form.password) {
          this.$swal({
            icon: "error",
            title: "Completa los campos",
          });
        }

       await this.register(this.form)

       if(this.error != ''){
             this.$swal({
            icon: "error",
            title: this.error,
          });
       }else{
            this.$swal({
            icon: "success",
            title: "Usuario creado correctamente",
          });

          router.push('/forms')
       }
      }, 750);

      //   setTimeout(() => {
      //     this.isLoading = false

      //     this.$router.push('/')
      //   }, 750)
    },
  },
};
</script>
<style scoped>
.centrar {
  position: relative;
  top: 80px;
}
</style>
