<template>
  <div id="app">
    <nav-bar :logged="logged" :obj="usuario" />
    <aside-menu :menu="menu" v-if="logged" />
    <router-view />
    <footer-bar />
  </div>
</template>

<script>
import menu from "@/menu.js";
import NavBar from "@/components/NavBar.vue";
import AsideMenu from "@/components/AsideMenu.vue";
import FooterBar from "@/components/FooterBar.vue";
import { mapActions, mapState } from "vuex";
export default {
  name: "Home",
  components: {
    FooterBar,
    AsideMenu,
    NavBar,
  },
  data() {
    return {
      menu,
      usuario:{
        nombre:'',
        correo:''
      }
    };
  },
  methods:{
    ...mapActions({
      verificarSesion:"auth/verificarSesion"
    })
  },
  computed: {
    ...mapState({
      logged: (state) => state.auth.logged,
      user: (state) => state.auth.user,
    }),
  },
  async created() {
    await this.verificarSesion()
    console.log(this.user,"prueba nav")
    // this.$store.commit("user", {
    //   name: "John Doe",
    //   email: "john@example.com",
    //   avatar: "https://avatars.dicebear.com/v2/gridy/John-Doe.svg",
    // });
  },
};
</script>
<style scoped>
html.has-aside-left {
  padding-left: 0rem;
}
</style>
